@Model MvcArch.Models.Details
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h1>student id is:@Model.studentid</h1>
<h1>student name is:@Model.name</h1>
<h1>student age is:@Model.age</h1>
<h1>student email is:@Model.email</h1>
<h1>student enrollment date is:@Model.EnrollmentDate</h1>