@model List<MVC_ARCHI.Models.order>
@{
    ViewBag.Title = "listorder";
}

<h2>listorder</h2>
<table class="table">
    <tr>
        <th>Order ID</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.orderid</td>
            <td>@order.name</td>
            <td>@order.address</td>
        </tr>
    }
</table>